<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.CampMapper">

<!--캠핑장 이름으로 CID 가져오기-->
    <select id="findByName" parameterType="string" resultType="com.dto.CampDTO">
        select CID, name, address
        from CAMP
        where name like '%'||#{name}||'%'
    </select>

<!--태그 이용하여 CID, 캠핑장이름, 위치, 위경도 가져오기-->
    <select id="findByRecommendation" parameterType="com.dto.CampDTO" resultType="com.dto.CampDTO">

    </select>

<!--CID로 목록 가져오기-->
    <select id="printNameList" parameterType="arraylist" resultType="com.dto.CampDTO">

    </select>

<!--CID로 해당 캠핑장의 모든 정보 가져오기-->
    <select id="printDetailByCID" parameterType="int" resultType="com.dto.CampDTO">

    </select>

</mapper>
